* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

form {
  padding: 16px;
  margin: 16px auto;
  max-width: 500px;
  display: grid;
  gap: 16px;
  align-items: center;
}

label {
  font-size: 14px;
  font-weight: bold;
}

form > div {
  display: grid;
  height: 50px;
}

input {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding: 10px;
}

#address-container {
  height: fit-content;
  display: grid;
  gap: 16px;
}

.input-title {
  font-weight: bold;
}

#address-container > div {
  display: grid;
}

#save-btn {
  padding: 10px;
  background: #3f51b5;
  border-radius: 10px;
  color: #fff;
}

#save-btn:hover {
  background: #32429c;
}

#result > span {
  font-weight: bold;
}

#result button {
  background: #e91e63;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}

#result button:hover {
  background: #b1164b;
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  line-height: 24px;
}

button,
input[type="submit"] {
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  outline: none;
  margin: auto;
  font-size: 16px;
}
